name: Backend Continuous Integration

on:
    pull_request:
        branches: [main]
        paths:
            - 'starter/backend/**'
    workflow_dispatch:

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            
            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.10'

            - name: Install pipenv
              run: pip install pipenv

            - name: Install dependencies
              working-directory: starter/backend
              run: pipenv install --dev

            - name: Run linter
              working-directory: starter/backend
              run: pipenv run lint
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3 

            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.10'

            - name: Install pipenv
              run: pip install pipenv

            - name: Install dependencies
              working-directory: starter/backend
              run: pipenv install --dev

            - name: Run tests
              working-directory: starter/backend
              run: pipenv run test
              
    build:
      needs: [lint, test]
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Setup Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.10'

        - name: Install pipenv
          run: pip install pipenv

        - name: Install dependencies
          working-directory: starter/backend
          run: pipenv install --dev

        - name: Run tests
          working-directory: starter/backend
          run: pipenv run test

        - name: Build Docker image
          working-directory: starter/backend
          run: docker build -t mp-backend:latest .